.submit {
    background-color: #990000;
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
}

::placeholder {
    color: #000000;
    opacity: 1;
    text-transform: capitalize;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000000;
    text-transform: capitalize;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000000;
    text-transform: capitalize;
}

.capitalize {
    text-transform: capitalize;
}

label {
    color: #000000!important;
    text-transform: capitalize;
}

.delete {
    background-color: #acabb0;
    background-image: linear-gradient(315deg, #acabb0 0%, #e01c34 74%);
}

.discrip {
    height: 165px;
    resize: none;
    padding-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    color: #000000 !important;
}

tr,
td,
span {
    text-transform: capitalize!important;
}

.sidenav .navigation-header .navigation-header-text {
    font-size: 14px!important;
}

#material-icons {
    color: #b53f3f!important;
}

.swal-button {
    background-color: #a01515;
}

.swal-button:active {
    background-color: #a01515;
}

.swal-button--cancel {
    background-color: #d8d5d5;
}

th {
    text-transform: uppercase!important;
    color: #b39d9d!important;
    font-weight: bold!important;
}