/*----------------------------------------
    register Page
------------------------------------------*/

.register-bg {
    background-image: url('../../images/gallery/regist.jpg');
    background-size: cover;
}

#register-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#register-page .card-panel.border-radius-6.register-card {
    margin-left: 0 !important;
}