.submit {
    background-color: #990000;
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
}

::placeholder {
    color: #ff0000;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ff0000;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ff0000;
}